#version=RHEL8
ignoredisk --only-use=sda
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
text
# Use CDROM installation media
#cdrom
# NOTE: It will auto detected that repo.
url --url=http://ftp.iij.ad.jp/pub/linux/centos/8/BaseOS/x86_64/os/
repo --name="base" --baseurl=http://ftp.iij.ad.jp/pub/linux/centos/8/BaseOS/x86_64/os/
repo --name="AppStream" --baseurl=http://ftp.iij.ad.jp/pub/linux/centos/8/AppStream/x86_64/os/
repo --name="extras" --baseurl=http://ftp.iij.ad.jp/pub/linux/centos/8/extras/x86_64/os/
repo --name="epel" --baseurl=http://ftp.iij.ad.jp/pub/linux/fedora/epel/8/Everything/x86_64/
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens192 --onboot=on --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$fQD2vdgn45g5JULz$QSBjzS7LxjdV9Or4JDyntZBBC7GSru6PnLeX9jyYUuebyuDSVmSgbb3OWC1HZlyydOpjT9Xc68YfXBCYAwxY10
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Tokyo --isUtc
# Shutdown after installed
reboot

%packages
@^minimal-environment
@guest-agents
@standard

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
yum -y install open-vm-tools
systemctl enable vmtoolsd
systemctl start vmtoolsd
%end
